* {
  margin: 0;
}

:root {
  --f-bg: #fff;
}

html {
  background-color: var(--f-bg);
}

html.dark {
  --f-bg: #171717;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  @apply color-inherit decoration-none;
}

body::-webkit-scrollbar {
  width: 0;
}
